.main_button{
    padding-top:1.5rem;
    padding-left: 3.1rem;
    padding-right: 2.9rem;
    padding-bottom: 1.5rem  ;
    background-color: $brown-color;
    color: $white-color;
    font-family: Manrope;
font-size: 13px;
font-weight: 700;
line-height: 18px;
letter-spacing: 1px;
text-align: left;
transition: 0.3s;
}

.main_button:hover{
    background-color: $brown-light-color;
}